
/* ---- Important Initial CSS ---- */

body, html {
  margin: 0;
  padding: 0;
}

body {}

a {
  color: white;
  text-decoration: none !important;
}

section {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

/* ---- CSS for Vertical Aligment ---- */
section, footer, .slogan-box, #error-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- CSS for transitions ---- */

.btn, footer a img  {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* ---- Incresing Elements Size ---- */

footer a img:hover {
  transform:scale(1.2,1.2);
  -webkit-transform:scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
}

#join-btn:hover {
  border: 3px solid red;
  transform:scale(1.2,1.2);
  -webkit-transform:scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
}

/* ---- Landing Section CSS ---- */

#landing-page {
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('img/world_in_futuristic_lines.png');
  background-size: cover;
}

.logo-box {
  border-right: 5px solid black;
}

/* ---- General Footer CSS ---- */

footer {
  height: auto;
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding: 2vh 0 6vh 0;
  background-color: rgba(0, 0, 0, 0.7);
}

footer a img {
  width: 3.5vw;
  height: 80%;
  margin: 0 1vw;
}

/* Footer Features */

#member-col {
  border-right: 1.5px solid white;
  border-left: 1.5px solid white;
}

#key-info-foot {
  background-color: white;
  position: fixed;
  height: 4vh;
  bottom: 0;
}

/* ---- Buttons / Input CSS ---- */

.btn {
  background-color: yellow;
  border: 3px solid transparent;
  width: 6vw;
  height: 6vh;
}

#subscibe_btn {
  border-radius: 0px 5px 5px 0px;
  width: auto;
}

#subscibe_btn:hover {
  background-color: #000000;
  border: 3px solid #000000;
  color: white;
}

/*---- Email Validation CSS ---- */

#valid-box {
  position: relative;
}

#input {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid white;
  height: auto;
}

#error-box {
  position: absolute;
  display: none;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: white;

}

.success {
  background-color: #3AFF00;
}

.error {
  background-color: red;
}

/* ---- Media Queries ---- */

/* Media Query >= 1442px (4k Screens) */
@media screen and (min-width : 1442px) {

  /*-- Changing Fonts --*/
  .slogan-box h3, footer h3 {
    font-size: 60px;
  }

  footer p, .btn {
    font-size: 40px;
  }

  footer #valid-box p {
    font-size: 25px;
  }

  input[type="email"] {
    font-size: 35px;
  }

}

/* Media Query >= 1200px (Equal to col-xl-) */
@media screen and (min-width : 1200px) and (max-width : 1441px) {

  /*-- Changing Fonts --*/
  .slogan-box h3, footer h3 {
    font-size: 40px;
  }

  footer p {
    font-size: 20px;
  }
}

/* Media Query >= 992px (Equal to col-lg-) */
@media screen and (min-width : 769px) and (max-width : 1199px) {
  
}

/* Media Query >= 768px (Equal to col-md-) */
@media screen and (min-width : 576px) and (max-width : 768px) {

    .logo-box {
      border-right: none;
      border-bottom: 2px solid black;
    }

    footer {
      position: relative;
    }

}

/* Media Query  576px (Equal to col-sm-) */
@media screen and (max-width: 575px) {

  .logo-box {
    border-right: none;
    border-bottom: 2px solid black;
  }

  footer {
    position: relative;
  }
}

/* Animations */

/* .active-animatioon {
    background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right   top;
    animation: border-dance 1s infinite linear;
  }

  @keyframes border-dance {
    0% {
      background-position: left top, right bottom, left bottom, right   top;
    }
    100% {
      background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
    }
  }
} */
