<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content>
  <meta name="author" content="enubfs-hX-dev">

  <!-- Website Identity -->
  <link rel="icon" type="logo2" href="{{ url_for('static', filename='img/enubfs-logo.png') }}" sizes="16x16">
  <title>Napier FinTech Society</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
  {% block body %}

  <!-- START Landing Page -->
  <section id="landing-page">
    <div style="width:80%">
      <div class="row text-center">
        <!-- Napier Fintech Branding -->

        <!-- Logo Img -->
        <div class="col-md-6 logo-box">
          <img class="img-fluid" src="{{ url_for('static', filename='img/XL-logo.png') }}" alt="full-logo">
        </div>

        <!-- Slogan-->
        <div class="col-md-6 slogan-box text-left">
          <h3 class="text-black">
            Educating, promoting & analyzing <br>
            FinTech & Blockchain Technology
          </h3>
        </div>

      </div>
    </div>

    <!-- Arrow pointing down -->
    <div id="arrow-down" class="container-fluid">
      <i class="fas fa-arrow-down fa-3x"></i>
    </div>

  </section>
  <!-- END Landing Page -->

  <!-- START Inner Footer -->
  <footer>
    <div class="container-fluid">
      <div class="row text-center text-white">

        <!-- Email List Subscription -->
        <div class="feature col-lg-4 col-md-12 col-sm-12">
          <h3> Subscribe </h3>
          <p> Receive updates, event invitations & special offers </p>
          <div id="valid-box" class="container-fluid">
            <form class="input-group">
              <div id="error-box" class="form-control"></div>
              <input id="input" name="email" type="email" class="form-control" placeholder="E-mail Address" required>
              <button id="subscibe_btn" type="submit" class="btn btn-default"> Subscribe! </button>
              <div id="error-icon" class="btn btn-default"> <i class="fas fa-exclamation-circle fa-1x"></i> </div>
              <div id="success-icon" class="btn btn-default"> <i class="fas fa-check-circle fa-1x"></i></i> </div>
            </form>
            <p> (We will not use your emails outside of our society) </p>
          </div>
        </div>

        <!-- MemberShip Link -->
        <div id="member-col" class="feature col-lg-4 col-md-12 col-sm-12">
          <h3> Become a Member </h3>
          <p> Join & support our society by purchasing our membership </p>
          <div class="container-fluid">
            <a href="https://www.napierstudents.com/organisation/societies/enufbs/">
              <button id="join-btn" class="btn" type="submit"> Join! </button>
            </a>
          </div>
        </div>

        <!-- Social Media Icons Box -->
        <div class="feature col-lg-4 col-md-12 col-sm-12">
          <h3> Social Media </h3>
          <p> Stay up-to-date with us on social media and
            be part of the society
          </p>
          <!-- Icons Container -->
          <div class="container-fluid">
            <!-- Facebook Icon -->
            <a href="https://www.facebook.com/ENUBFS">
              <img src="{{ url_for('static', filename='img/facebook_icon.png') }}" alt="">
            </a>
            <!-- Twitter Icon -->
            <a href="https://twitter.com/FintechNapier">
              <img src="{{ url_for('static', filename='img/twitter_icon.png') }}" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>

    <!-- Footer with Key Info -->
    <div id="key-info-foot" class="container-fluid">
      <div class="row text-center text-black">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <p> Email Us! 24/7 contactus@napierfintech.com </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <p> We are open to sponsors </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <p> Official Website Coming Soon </p>
        </div>
      </div>
    </div>

  </footer>
  <!-- END Inner Footer -->

  {% endblock %}

  <!-- <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script> -->
  <!-- <script src = "https://code.jquery.com/jquery-1.10.2.js"></script> -->
  <!-- <script src = "https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>
